# Assets
assets/
!assets/README.txt

# Model
model/
!model/README.txt

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS junk
.DS_Store
Thumbs.db

#VS Code
.vscode/

# Driver map
telemetry/driver_map.py
